/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/css/app.css
/public/fonts
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/modules/*
/_ide_helper.php
/config/ide-helper.php
/public/js/chunks/
/.phpstorm.meta.php
/public/mix-manifest.json
/tests/_output/
/.phpunit.result.cache
