.env
/.idea
/.phpstorm.meta.php
/.phpunit.result.cache
/.vagrant
/_ide_helper.php
/config/ide-helper.php
/modules/*
/node_modules
/public/css/app.css
/public/fonts
/public/hot
/public/js/*
/public/mix-manifest.json
/public/storage
/storage/*.key
/tests/_output/
/vendor
Homestead.json
Homestead.yaml
modules_statuses.json
npm-debug.log
yarn-error.log
