.content {
    padding-top: 10px;
}

.left-menu {
    /*padding-top: 10px;*/
    background: #222;
    color: #ccc;
}

.left-menu a {
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    color: #ccc;
    display:block;
}

.left-menu ul {
    margin-left: -20px;
}

.left-menu a:hover {
    text-decoration: none;
    -webkit-transform: translate(8px,0);
    -moz-transform: translate(8px,0);
    -o-transform: translate(8px,0);
}

.page-sidebar-menu {
    list-style: none;
    padding-left: 28px;
    padding-right: 8px;
}

.page-sidebar-menu>li {
    margin-bottom: 5px;
}

.page-sidebar-menu>li>a {
    padding: 5px 2px;
    background: #333;
    display: block;
    line-height: 20px;
}

p.copyright {
    border-top: 1px solid #D0D0D0;
    text-align: center;
    font-size: 11px;
    padding: 0 10px 0 10px;
}

pre.console {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #000;
    border: 1px solid #D0D0D0;
    color: #FFF;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
    min-height: 250px;
    overflow:auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.terminal-box {
    border-radius: 0.3em;
    background-color: #000;
}

.terminal {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    background-color: #000;
    color: #FFF;
    display: block;
    min-height: 350px;
    max-height: 450px;
    overflow-y: scroll;
    white-space: pre;
}

.terminal-input {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    width: 100%;
    background: #000;
    color: #FFF;
    display: flex;
}

input.terminal-input {
    margin-bottom: 0;
    border: 0 !important;
    background: transparent !important;
    color: #FFF;
    outline: none;
    display: inline;
}

.query {
    max-height: 9.35rem;
    overflow: scroll;
}