.row-eq {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.logo {
    max-width: 300px;
    max-height: 35px;
    margin-left: 30px;
}

.content-wrapper {
    margin-top: 62px;
}

.left-menu-btn {
    display: none;
}

.left-menu {
    padding: 10px 5px;
    background: #222;
    color: #ccc;
}

.left-menu a {
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    color: #ccc;
    display:block;
}

.left-menu ul {
    margin-left: -10px;
}

.left-menu ul.page-sidebar-menu a:hover {
    text-decoration: none;
    -webkit-transform: translate(8px,0);
    -moz-transform: translate(8px,0);
    -o-transform: translate(8px,0);
}

.left-menu-group {
    text-align: center;
    margin-bottom: 0.2rem;
    font-weight: bold;
}

.left-menu .fa,
.left-menu .fab,
.left-menu .fas {
    width: 15px;
    margin: 0 5px;
}

.page-sidebar-menu {
    list-style: none;
    padding-left: 18px;
    padding-right: 8px;
}

.page-sidebar-menu>li {
    margin-bottom: 5px;
}

.page-sidebar-menu>li>a {
    padding: 5px 2px;
    background: #333;
    display: block;
    line-height: 20px;
}

.page-sidebar-menu>li>a.logout {
    background: #79242c;
}

.copyright {
    margin-top: 1rem;
    border-top: 1px solid #D0D0D0;
    text-align: center;
    font-size: 11px;
    padding: 0 10px 0 10px;
}

pre.console {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #000;
    border: 1px solid #D0D0D0;
    color: #FFF;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
    min-height: 250px;
    overflow:auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.terminal-box {
    border-radius: 0.3em;
    background-color: #000;
}

.terminal {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    background-color: #000;
    color: #FFF;
    display: block;
    min-height: 350px;
    max-height: 450px;
    overflow-y: scroll;
    white-space: pre;
}

.terminal-input {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    width: 100%;
    background: #000;
    color: #FFF;
    display: flex;
}

input.terminal-input {
    margin-bottom: 0;
    border: 0 !important;
    background: transparent !important;
    color: #FFF;
    outline: none;
    display: inline;
}

.query {
    max-height: 9.35rem;
    overflow: scroll;
}

.menu-item {
    min-width: 180px;
}

.navbar {
    height: 62px;
}

.btn-logout {
    width: 100%;
}

.left-menu-mini-btn {
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
}

/*
 *  Tablet (sm)
 */
@media (max-width: 767px) {
    .left-menu-mini-btn {
        display: none;
    }

    .left-menu-btn {
        position: fixed;
        z-index: 50;
        top: 20px;
        width: 25px;
        height: 35px;
        background-color: #333333;
        color: #FFFFFF;
        text-align: center;
        padding: 8px 0;
        cursor: pointer;
        border-radius: 0 4px 4px 0;
    }

    .left-menu-active {
        display: block;
    }
}

@media (min-width: 767px) {

    .left-menu {
        margin-left: -15px;
        width: 245px;
        position: fixed;
        min-height: 100vh;
    }

    .small-menu .left-menu {
        width: 52px;
    }

    .small-menu .left-menu .left-menu-group{
        display: none;
    }

    .small-menu .left-menu .menu-item-label {
        display: none;
    }

    .small-menu .content-wrapper {
        margin-left: 52px;
    }

    .content-wrapper {
        margin-left: 230px;
    }
}